<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title> Book duplicate </title>
    <meta name="description" content="fix the duplicate issue page">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link href="bootstrap.css" rel="stylesheet" >-->
    <link href="/static/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <!--<script src="js/bootstrap.js"></script>-->
    <script src="/static/jquery-3.2.0.min.js"></script>
    <script src="/static/main.js"></script>
    <script>
        $.ajaxSetup({
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}'
            }
        });
    </script>
</head>
<body>
    <div id="status-message-div"></div>

    <h2>Book duplicate!</h2>        
    <!--
    {{ user_book }} <br>
    {{ db_book }} <br>
    {{ pk }} <br>
    {{ physical_informations }} <br>
    -->
    <div class="book-detail-block">
        <label for="title">title : </label>
        <input type="text" name="title" id="title" value="{{ user_book.title }}"> <br>
        <label for="subtitle">subtitle : </label>
        <input type="text" name="subtitle" id="subtitle" value="{{ user_book.subtitle }}"> <br>
        <label for="authors">authors : </label>
        <button id="add-new-authors">+ Add</button> <br>
        <ul class="authors-container">
        <!-- loop -->
        {% for author in user_book.authors %}
          <li class="author-item">
              <input type="text" name="author" value="{{ author }}">
              <span class="remove-author remove">✗</span>
          </li>
        {% endfor %}
        <!-- loop end -->
        </ul>
        <label for="publisher">publisher : </label>
        <input type="text" name="publisher" id="publisher" value="{{ user_book.publisher }}"> <br>
        <label for="publisheddate">publisheddate : </label>
        <input type="text" name="publisheddate" id="publisheddate" value="{{ user_book.publisheddate }}"> <br>
        <label for="identifier">identifier : </label> 
        <button id="add-new-identifier">+ Add</button> <br>
        <ul class="identifier-container">
        <!-- loop -->
        {% for identifier in user_book.industryIdentifiers %}
          <li class="identifier-item">
            <select name="identifier-select" class="identifier-select">
                <option value="ISBN_13" {% if identifier.type == "ISBN_13" %} selected {% endif %}>ISBN_13</option>
                <option value="ISBN_10" {% if identifier.type == "ISBN_10" %} selected {% endif %}>ISBN_10</option>
                <option value="ISSN" {% if identifier.type == "ISSN" %} selected {% endif %}>ISSN</option>
            </select>
            <input type="text" name="identifier-value" class="identifier-value" value="{{ identifier.identifier }}">
            <span class="remove-identifier remove">✗</span>
          </li>
        {% endfor %}
        <!-- loop end -->
        </ul>
        <label for="description">description : </label> 
        <input type="textarea" name="description" id="description" value="{{ user_book.description }}"> <br>
        <button id="submit-book-to-store">Submit</button>
        <p hidden name="pk" id="pk">{{ pk }}</p>
    </div>
    <div class="book-detail-block">
        <label for="title">title : </label>
        <input type="text" name="title" id="title" value="{{ db_book.title }}"> <br>
        <label for="subtitle">subtitle : </label>
        <input type="text" name="subtitle" id="subtitle" value="{{ db_book.subtitle }}"> <br>
        <label for="authors">authors : </label>
        <button id="add-new-authors">+ Add</button> <br>
        <ul class="authors-container">
        <!-- loop -->
        {% for author in db_book.authors %}
          <li class="author-item">
              <input type="text" name="author" value="{{ author }}">
              <span class="remove-author remove">✗</span>
          </li>
        {% endfor %}
        <!-- loop end -->
        </ul>
        <label for="publisher">publisher : </label>
        <input type="text" name="publisher" id="publisher" value="{{ db_book.publisher }}"> <br>
        <label for="publisheddate">publisheddate : </label>
        <input type="text" name="publisheddate" id="publisheddate" value="{{ db_book.publisheddate }}"> <br>
        <label for="identifier">identifier : </label> 
        <button id="add-new-identifier">+ Add</button> <br>
        <ul class="identifier-container">
        <!-- loop -->
        {% for identifier in db_book.industryIdentifiers %}
          <li class="identifier-item">
            <select name="identifier-select" class="identifier-select">
                <option value="ISBN_13" {% if identifier.type == "ISBN_13" %} selected {% endif %}>ISBN_13</option>
                <option value="ISBN_10" {% if identifier.type == "ISBN_10" %} selected {% endif %}>ISBN_10</option>
                <option value="ISSN" {% if identifier.type == "ISSN" %} selected {% endif %}>ISSN</option>
            </select>
            <input type="text" name="identifier-value" class="identifier-value" value="{{ identifier.identifier }}">
            <span class="remove-identifier remove">✗</span>
          </li>
        {% endfor %}
        <!-- loop end -->
        </ul>
        <label for="description">description : </label> 
        <input type="textarea" name="description" id="description" value="{{ db_book.description }}"> <br>
        <button id="submit-book-to-store">Submit</button>
        <p hidden name="pk" id="pk">{{ pk }}</p>
    </div>
</body>
</html>
